* { 
  margin: 0; 
  padding: 0; 
  box-sizing:border-box; 
}
@font-face {
  font-family: "Noto Sans";
  src: url(font/NotoSans-Regular.ttf);
}
body{
  padding: 0;
  margin: 0;
  /* background-color: var(--dark-purple); */
  background-color: #B1A9CE;
  overflow-x: hidden;
  font-family: 'Noto Sans', sans-serif;
}

/* Root variable Css */
:root {
  --light: #ecf0f1;
  --muted: #95a5a6;
  --secondary: #2c3e50;
  --purple: #423965;
  --soft-purple: #8478b5;
  --dark-purple: #373258;
}

.bg-soft-purple{
  background-color: var(--soft-purple) !important;
}
.opacity-5{
  opacity: .5;
}
.lh-1{
  line-height: 1;
}
.text-light {
  color: #ecf0f1;
}
.mt-5{
  margin-top: 4rem;
}
.mt-3{
  margin-top: 1rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.rounded-pill{
  border-radius: 50rem !important;
}
.bg-transparent{
  background-color: transparent !important;
}
.bg-dark-purple{
  background-color: var(--dark-purple) !important;
}
.bg-purple{
  background-color: var(--purple) !important;
}
.m-3{
  margin: 1rem;
}
.text-center{
  text-align: center;
}
.text-muted{
  color: var(--muted);
}
.btn{
  background-color: #ecf0f1;
  border: none;
  color: #4C394F;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.d-flex{
  display: flex;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-between{
  justify-content: space-between;
}
.align-items-center{
  align-items: center;
}

.card{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.card-body{
  padding: 20px;
}

.main-content{
  padding-top: 100px;
  width: 100vw;
  max-width: 1255px;
  margin: auto;
  z-index: 200;
}
.parallax {
  background-image: url("images/parallax.jpg");
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.parallax::before {
  content: "";
  background: linear-gradient(to top, rgb(0 0 0 / 74%) 0%,rgba(0,0,0,0) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.parallax > .parallax-content{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  color: var(--light);
  padding: 1.25rem 2.8rem;
  opacity: 0;
  visibility: hidden;
  animation: fadeIn 1s ease-in-out forwards 1s 1;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%);
  }
}

.parallax > .parallax-content > .heaader-wrapper{
  line-height: 1;
  border-bottom: 3px solid;
  border-color: var(--light);
  width: fit-content;
  width: -moz-fit-content;
  padding-bottom: 1rem;
  padding-right: 4rem;
  margin-bottom: 1.25rem;
}
.parallax > .parallax-content > .heaader-wrapper > h1{
  font-size: 55px;
}
.parallax > .parallax-content > .content-wrapper p{
  font-size: 18px;
  padding-bottom: .25rem;
  display: block;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0 2.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid;
  border-color: #ffffff1c;
  color: var(--light);
}
.header.header-bg{
  background-color: var(--soft-purple);
}
.header > .right > ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header > .right > ul > li{
  padding: 1.5rem .7rem;
  border-bottom: 1px solid;
  border-color: transparent;
}
.header > .right > ul > li.active{
  border-color: #ffffff;
}
.header > .right > ul > li > a{
  text-decoration: none;
  color: var(--light);
  opacity: .5;
}
.header > .right > ul > li > a:hover,
.header > .right > ul > li.active > a{
  opacity: 1;
  color: #ffffff;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.gallery > .gallery-data{
  width: 33.333333%;
  padding: .5rem;
  transition: .4s;
  z-index: 0;
}
.gallery > .gallery-data:hover{
  transform: scale(1.05);
  z-index: 1;
}
.gallery > .gallery-data > img{
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
  border-radius: .8rem;
}

.profile .user-wrapper{
  margin-right: 100px;
}
.profile .user-wrapper > .user-img{
  object-fit: cover;
  object-position: center;
  width: 500px;
}

.simple-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 100vw;
  background-color: var(--soft-purple);
}

.contact > .contact-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contact > .contact-list > .contact-data{
  text-decoration: none;
  width: 25%;
  height: 250px;
  padding: .5rem;
}
.contact > .contact-list > .contact-data > .card{
  width: 100%;
  height: 100%;
}
.contact .flower{
  left: 0;
}
.contact .flower,
.contact .chibi{
  position: fixed;
  bottom: 0;
  transform: translate(0, 50px);
}
.contact .chibi{
  left: unset !important;
  right: 0;
}
.contact .flower > img,
.contact .chibi > img{
  width: 250px;
}